body {
  background-color: #f2f1ed !important;
}

.c404 {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 2px;
}

#not-found {
  font-family: "Heebo", sans-serif;
}

.back-home {
  text-decoration: none !important;
  font-family: "Heebo", sans-serif;
  color: rgb(134, 0, 0);
  font-size: small;
}

.back-home:hover {
  font-weight: bold;
}
