form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

span {
  color: rgb(49, 49, 49);
  font-size: 12px;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  resize: none;
}

textarea {
  height: 100px;
}

button {
  width: fit-content;
  background-color: #000000;
  color: #fff;
  padding: 10px 20px;
  border: none;
  transition: 0.3s;
}

button:hover {
  background-color: #2e2e2e;
}

.contact-btns {
  margin-top: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  flex-direction: column;
}

a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 5px;
  color: #333;
  text-decoration: none;
  transition: 0.3s;
  width: fit-content;
}

a:hover {
  color: #0073b7;
}

#social-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  /* margin-top: 20px; */
  margin-bottom: 3px;
}

/* Icone */
i {
  font-size: 30px;
  display: inline-block;
}
