/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400&family=Dosis:wght@200;400&family=Heebo:wght@100;400&family=Playfair+Display:ital@0;1&display=swap");

.sidebar {
  display: flex;
  flex-direction: column;
  width: 22%;
  height: 100%;
  padding: 10px;
  overflow: hidden;
  max-width: 350px;
}

/* ----------------- MOBILE ----------------- */

.navbar-mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.6rem 0.55rem 0.6rem 1.3rem;
  z-index: 98;
  border-bottom: 1px solid #e0e0e0;
}

.sidebar-mobile {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100svh;
  background-color: #000000cc;
  z-index: 99;
}

.sidebar-mobile-container {
  position: absolute;
  padding: 30px 40px 40px 40px;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  right: 0;
  width: 80%;
  height: 100svh;
  z-index: 100;
  background-color: #f2f1ed;
  transition: right 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.closed {
  right: -400px !important; /* Assicura che la navbar sia nascosta inizialmente */
}

.container-info {
  position: absolute;
  bottom: 0px;
  background-color: white;
  top: 60%;
  box-shadow: 0px -8px 20px 6px #dfded8;
  width: 100%;
  padding: 1.5rem;
}

#opera-info-container-mobile {
  height: 100%;
}

#opera-info-container {
  opacity: 0;
}

#details-title {
  display: flex;
  margin-bottom: 10px;
  flex-direction: column-reverse;
}

.img-change-btn {
  padding: 25px;
  background-color: #222222;
  color: white;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#openBtnNav {
  color: #726d58;
}

#closeBtnNav {
  font-size: 40px;
  align-self: end;
  right: 34px;
  top: 20px;
}

@media (max-width: 768px) {
  .sidebar {
    display: none;
  }
  .navbar-mobile {
    display: flex;
  }
  #slide-show {
    height: 49% !important;
    margin-top: 25px;
  }
  .image-slider {
    width: 100% !important;
  }

  #details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  #details-title {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .main-content {
    padding: 0 !important;
  }

  .sidebar-mobile-content {
    display: flex;
    flex-direction: column;
  }

  .arrow {
    display: none !important;
  }

  .logo {
    width: 60px !important;
  }

  .category {
    font-size: 26px !important;
    margin-bottom: 4px !important;
  }
  .subcategory {
    font-size: 22px !important;
    margin-bottom: 4px !important;
  }

  .opera-number {
    font-size: 0.8rem !important;
    margin-bottom: 0;
    flex-shrink: 0;
  }

  .opera-title {
    font-size: 1.5rem !important;
    margin-bottom: 0 !important;
    margin-left: -2.2px;
  }

  .opera-description {
    font-size: 1rem !important;
    margin-bottom: 10px !important;
  }

  .opera-technique {
    font-size: 0.9rem !important;
  }

  .opera-sizes-year {
    font-size: 0.9rem !important;
  }

  #icons {
    justify-content: space-between;
    align-items: center;
  }

  #icons *:active {
    scale: 0.9;
  }

  .container-lg {
    padding: 30px 10px 5px 20px !important;
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 768px) {
  .navbar-mobile {
    display: none;
  }
  .container-info {
    display: none;
  }
  .image-slider {
    width: 90% !important;
  }
  .img-change-btn {
    display: none;
  }
  #icons *:hover {
    animation: pulseOut 0.5s forwards ease-in-out;
  }
}

/* ----------------- MOBILE ----------------- */

#icons *:hover {
  cursor: pointer;
}

.sidebar-header {
  padding: 2rem;
  height: fit-content;
  width: 132px;
}

.sidebar-header img {
  width: 100%; /* Image fills the width of the header */
  height: auto; /* Maintains the original aspect ratio of the image */
  display: block; /* Removes any space below */
}

.sidebar-content {
  padding: 0 0 2rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.info-container {
  margin-bottom: auto;
  overflow-y: scroll;
}

.opera-number {
  font-size: 12px;
  font-weight: 100;
  font-family: monospace;
  color: black;
}

.opera-title {
  font-size: 16px;
  margin-bottom: 5px;
}

.opera-description {
  font-size: 12px;
  margin-bottom: 0px;
  word-wrap: break-word;
}

.opera-technique {
  font-size: 12px;
  margin-top: 10px;
  font-weight: 600;
}

.opera-sizes-year {
  font-size: 12px;
  margin-top: 0px;
}

#icons {
  display: flex;
  gap: 20px;
  width: 100%;
  font-size: 22px;
  margin-top: 20px;
}

#fullscreen-btn {
  width: fit-content;
  line-height: normal;
  margin-left: 0.5px;
}

#share-btn {
  position: relative;
  font-size: 21px;
}

.main-content {
  display: flex;
  justify-content: center;
  height: 100%;
  overflow: hidden;
  padding: 60px 0 60px 0;
  width: 100%;
}

.image-slider {
  display: flex;
  justify-content: center;
  position: relative;
  width: 90%; /* 100% of the parent container */
  height: 100%; /* Occupies the entire available height */
}

#slide-show {
  background-size: contain; /* Change 'cover' to 'contain' to display the entire image */
  background-repeat: no-repeat; /* Ensure the image does not repeat */
  background-position: center; /* Center the image in the background */
  width: 90%; /* 100% of the parent container */
  height: 100%; /* Occupies the entire available height */
  -webkit-transform: translate3D(0, 0, 0);
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3D(0, 0, 0);
  -webkit-backface-visibility: hidden;
}

.image-slider .arrow {
  position: absolute;
  top: 50%;
  width: 50%; /* Each arrow covers half of the image */
  height: 100%;
  transform: translateY(-50%);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.3; /* Slightly visible; change as desired */
  transition: opacity 0.2s ease-in-out;
  z-index: 1;
}

.image-slider .arrow svg {
  fill: rgb(37, 37, 37); /* Arrow color */
  pointer-events: none; /* Ensure mouse events are handled by the div and not the SVG */
}

/* Slider arrow hover state */
.image-slider .arrow:hover {
  opacity: 1;
}

.arrow.prev {
  left: 0;
  justify-content: flex-start;
  padding-left: 20px; /* Distance of the arrow from the left edge */
}

.freccia-sx {
  position: relative;
  left: -50px;
}

.freccia-dx {
  position: relative;
  right: -48px;
}

.arrow.next {
  right: 0;
  justify-content: flex-end;
  padding-right: 20px; /* Distance of the arrow from the right edge */
}

#not-found {
  text-align: right;
}

/* Visibility state of the 'back to home' paragraph */
.back-home {
  display: none;
}

.disabled {
  pointer-events: none; /* Impedisce click, hover, ecc. */
  opacity: 0.5; /* Rendi l'icona semi-trasparente o usa altri stili per indicare che è disabilitata */
}

/* Fullscreen overlay*/
#overlay-fullscreen-img {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.94);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  /* Ensure it is above other elements on the page */
}

/* Close overlay button */
#close-btn {
  position: absolute;
  top: 30px;
  right: 30px;
  font-size: 30px;
  color: #fff;
  cursor: pointer;
}

.toast-container {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1050;
}

@keyframes pulseIn {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.989);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes pulseOut {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes opacityIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
