/* Importa font da Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400&family=Dosis:wght@200;400&family=Heebo:wght@100;400&family=Playfair+Display:ital@0;1&display=swap");

/* Impostazioni globali per il body */
body {
  display: flex;
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: #f2f1ed !important;
  overflow-y: hidden;
}

/* Contenuto principale */
.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 75%;
  flex-grow: 1;
}

/* Dettagli opera */
.details {
  padding: 2rem;
  width: 250px;
  position: relative;
  line-height: 0.4rem;
}

/* Titolo opera */
.opera-title {
  font-size: 12px;
  margin-bottom: 1.3rem !important;
}

/* Descrizione opera */
.opera-description {
  font-size: 10px;
  margin-top: 10px;
  margin-bottom: 0px;
}

/* Info opera */
.opera-info {
  font-size: 10px;
  margin-top: 10px;
}

/* Ul */
ul {
  list-style-type: none; /* Rimuove i marker dall'elenco */
  height: fit-content;
  text-align: left;
  width: inherit;
}

/* Link */
a {
  text-decoration: none !important;
  color: #a0a0a0 !important; /* Colore più chiaro del nero per i link */
}

/* Stato hover link */
a:hover {
  color: #000000 !important; /* Colore nero scuro per hover */
  font-weight: 400;
}

/* Stato click link */
a:active {
  color: #000000 !important; /* Colore nero scuro per e active */
  font-weight: 550;
}

/* Stato active link */
.active {
  color: #000000 !important ; /* Colore nero scuro per active */
  font-weight: 550;
}

/* Sidebar */
.sidebar {
  display: flex;
  flex-direction: column;
  row-gap: 5%;
  width: fit-content;
  height: 100%;
  padding: 10px;
}

/* Intestazione della sidebar */
.sidebar-header {
  padding: 2rem;
  height: fit-content;
  width: 132px;
}

.sidebar-header img {
  width: 100%; /* L'immagine riempirà la larghezza dell'intestazione */
  height: auto; /* Mantiene il rapporto di aspetto originale dell'immagine */
  display: block; /* Rimuove eventuali spazi sottostanti */
}

/* Contenuto principale */
.main-content {
  height: 100%;
  overflow: hidden;
  padding: 100px;
  width: 100%;
  display: flex; /* Usa flexbox per centrale l'immagine all'interno del div. */
  justify-content: center; /* Centra l'immagine orizzontalmente all'interno del div. */
  align-items: center; /* Centra l'immagine verticalmente all'interno del div. */
}

/* Slider immagini */
.image-slider {
  position: relative;
  width: 100%; /* 100% del contenitore genitore */
  height: 100%; /* Lo stesso, occupa l'intera altezza disponibile */
  background-size: contain; /* Cambia 'cover' in 'contain' per visualizzare l'intera immagine */
  background-repeat: no-repeat; /* Assicurati che l'immagine non si ripeta */
  background-position: center; /* Centra l'immagine nello sfondo */
  transition: background-image 0.3s ease-in-out; /* Opzionale: transizione fluida per il cambio immagine */
  animation: pulse 1.2s forwards ease-in-out;
}

/* Freccia slider */
.image-slider .arrow {
  position: absolute;
  top: 50%;
  width: 50%; /* Ogni freccia copre metà dell'immagine */
  height: 100%;
  transform: translateY(-50%);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.3; /* Leggermente visibile; cambia a piacere */
  transition: opacity 0.2s ease-in-out;
}

.image-slider .arrow svg {
  fill: rgb(37, 37, 37); /* Colore della freccia. */
  pointer-events: none; /* Assicurati che gli eventi del mouse siano gestiti dal div e non dagli SVG. */
}

/* Stato hover freccia slider */
.image-slider .arrow:hover {
  opacity: 1;
}

/* Posizionamento freccia precedente */
.arrow.prev {
  left: 0;
  justify-content: flex-start;
  padding-left: 20px; /* Distanza della freccia dal bordo sinistro. */
}

/* Div freccia sinistra */
.freccia-sx {
  position: relative;
  left: -50px;
}

/* Div freccia destra */
.freccia-dx {
  position: relative;
  right: -50px;
}

/* Posizionamento freccia successiva */
.arrow.next {
  right: 0;
  justify-content: flex-end;
  padding-right: 20px; /* Distanza della freccia dal bordo destro. */
}

/* Animazione fade out */
.fade-out {
  animation: fadeOutEffect 1s forwards; /* 1 secondo di durata e 'forwards' per mantenere lo stato finale dell'animazione */
}

/* Stato di visibilità del paragrafo 'torna alla home' */
.back-home {
  display: none;
}

/* Definizione delle keyframes per l'animazione */
@keyframes fadeOutEffect {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* Definizione delle keyframes per l'animazione */
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.989);
  }
  100% {
    transform: scale(1);
  }
}

/* Media query per schermi di dimensioni ridotte */
@media screen and (max-width: 1070px) {
  .sidebar {
    row-gap: 10px;
  }

  .sidebar-header {
    padding-bottom: 0;
  }

  .main-content {
    position: relative;
    padding: 50px;
  }

  .freccia-dx {
    right: -70px;
  }

  .freccia-sx {
    left: -70px;
  }
}
