/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400&family=Dosis:wght@200;400&family=Heebo:wght@100;400&family=Playfair+Display:ital@0;1&display=swap");

body {
  background-color: #f2f1ed !important;
  overflow: hidden;
  height: 100svh;
  margin: 0;
  touch-action:none;
  padding: 0;
  /* border: solid 12px #cebd78; */
}

.app {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
}

@media (max-width: 768px) {
  .app{
    flex-direction: column;
  }
}

.scroll {
  height: 100%;
  overflow: auto;
  overflow-x: hidden;
  padding-right: 10px;
}

.header {
  width: 100%;
  height: fit-content;
  margin-bottom: 40px;
  text-align: center;
}

.spacer {
  height: 20px;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100svh;
}

#menu-container {
  display: flex;
  flex-direction: column;
  row-gap: 0px;
}

.category {
  font-family: "Heebo", sans-serif;
  font-size: 18px;
  opacity: 0;
  text-decoration: none !important;
  color: #a0a0a0 !important; /* Lighter color than black for links */
}

.category:hover {
  font-weight: bold;
  color: #000000 !important;
  transition: 0.2s;
}

.category:active {
  color: #000000;
  font-weight: bold;
  font-size: 19px;
}

.subMenu {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  font-size: 16px;
}

.subcategory {
  font-family: "Heebo", sans-serif;
  text-decoration: none !important;
  color: #a0a0a0 !important; /* Lighter color than black for links */
  font-weight: normal;
  opacity: 0;
}

.subcategory:hover {
  color: #000000 !important;
  font-weight: bold;
  transition: 0.2s;
}

.subcategory:active {
  color: #000000 !important;
  font-weight: bold;
  font-size: 17px;
}

.active {
  color: #000000 !important ; /* Darker color for active */
  font-weight: bold;
}

.logo {
  width: 100px;
}

h1 {
  margin-bottom: 20px !important;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 20px; /* roundness of the scroll thumb */
  background-color: #a5a4a2;
}

@media (max-width: 768px) {
  ::-webkit-scrollbar {
    width: 5px;
  }
}

h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.hide {
  display: none !important;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeInAnimation ease 0.5s forwards;
}

@keyframes fadeOutEffect {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.fade-out {
  animation: fadeOutEffect 1s forwards; /* 1 second duration and 'forwards' to keep the final state of the animation */
}


/* 404 */

.c404 {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 2px;
}

.c404 h1 {
  font-family: "Heebo", sans-serif;
  font-weight: bold;
}

#not-found {
  font-family: "Heebo", sans-serif;
}

.back-home {
  margin-top: 10px;
  text-decoration: none !important;
  font-family: "Heebo", sans-serif;
  color: rgb(134, 0, 0);
  font-size: small;
}

.back-home:hover {
  font-weight: bold;
}
