/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400&family=Dosis:wght@200;400&family=Heebo:wght@100;400&family=Playfair+Display:ital@0;1&display=swap");

/* Style for the body */
body {
  text-align: center; /* Center the text on the page */
  background-color: #f2f1ed !important;
  overflow: hidden;
}

/* Style for the h1 element */
h1 {
  font-size: 3em; /* Title size */
  text-align: center;
  font-family: "DM Sans", sans-serif;
  color: #363636 !important;
}

/* Style for the ul element */
ul {
  display: inline-block;
  list-style-type: none; /* Remove the bullet points from the list */
  padding: 0 !important; /* Remove default padding */
  height: fit-content;
  text-align: left;
}

/* Style for the li element */
li {
  display: block; /* Inline list items */
  font-family: "Heebo", sans-serif;
  margin-bottom: 5px; /* Space between items */
  font-size: large;
}

/* Style for the a element */
a {
  display: block !important;
  text-decoration: none !important;
  color: #a0a0a0 !important; /* Lighter color than black for links */
}

/* Style for the a element on hover */
a:hover {
  color: #000000 !important; /* Dark black color on hover */
  font-weight: 400;
}

/* Style for the a element on active */
a:active {
  color: #000000 !important; /* Dark black color on active */
  font-weight: 550;
}

/* Style for the container class */
.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* Style for the col class */
.col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* Style for the header class */
.header {
  width: 100%;
  height: fit-content;
}

/* Style for the header img element */
.header img {
  width: 100%; /* The image will fill the width of the header */
  height: auto; /* Maintain the original aspect ratio of the image */
  display: block; /* Remove any underlying spaces */
}

/* Animation for fade-out effect */
.fade-out {
  animation: fadeOutEffect 1s forwards; /* 1 second duration and 'forwards' to keep the final state of the animation */
}

/* Animation for fade-out effect */
@keyframes fadeOutEffect {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* Animation for small effect */
@keyframes smallEffect {
  from {
    width: 100%;
  }
  to {
    width: 50%;
  }
}

/* Animation for big effect */
@keyframes bigEffect {
  from {
    width: 50%;
  }
  to {
    width: 100%;
  }
}

/* Animation for font small effect */
@keyframes fontSmallEffect {
  from {
    font-size: large;
  }
  to {
    font-size: 8px;
  }
}

/* Animation for font big effect */
@keyframes fontBigEffect {
  from {
    font-size: small;
  }
  to {
    font-size: large;
  }
}

/* Media query for small screens */
@media screen and (max-width: 950px) {
  li {
    animation: fontSmallEffect 1s forwards !important;
  }

  .header {
    animation: smallEffect 1s forwards;
    height: fit-content;
  }
  .main-content {
    position: relative;
    padding: 50px;
  }
}

/* Media query for large screens */
@media screen and (min-width: 900px) {
  li {
    animation: fontBigEffect 1s forwards !important;
  }

  .header {
    animation: bigEffect 1s forwards;
    height: fit-content;
  }
}
